{{- define "enum" -}}

{{- $name := .Name -}}
{{- $type := .Type -}}
{{- $fields := .Fields -}}
{{- $opts := .Opts -}}

{{- if $opts.types -}}
type {{$name}} {{$type}}
{{- end }}

const (
{{- range $fields}}
	{{$name}}_{{.Name}} {{$name}} = {{.Value}}
{{- end}}
)

var {{$name}}_name = map[{{$type}}]string{
{{- range $fields}}
	{{.Value}}: "{{.Name}}",
{{- end}}
}

var {{$name}}_value = map[string]{{$type}}{
{{- range $fields}}
	"{{.Name}}": {{.Value}},
{{- end}}
}

func (x {{$name}}) String() string {
	return {{$name}}_name[{{$type}}(x)]
}

func (x {{$name}}) MarshalText() ([]byte, error) {
	return []byte({{$name}}_name[{{$type}}(x)]), nil
}

func (x *{{$name}}) UnmarshalText(b []byte) error {
	*x = {{$name}}({{$name}}_value[string(b)])
	return nil
}

{{- end -}}