{{- define "help" -}}
  {{- stderrPrintf "\n" -}}
  {{- stderrPrintf "Available template options:\n" -}}
  {{- range $k, $v := . -}}
  {{- if eq (printf "%v" $v) "" }}
    {{- stderrPrintf "  -%v\n" $k -}}
  {{- else -}}
    {{- stderrPrintf "  -%v=%q\n" $k $v -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
