{{- define "help" -}}
  {{- printfStderr "\n" -}}
  {{- printfStderr "Available template options:\n" -}}
  {{- range $k, $v := . -}}
  {{- if eq (printf "%v" $v) "" }}
    {{- printfStderr "  -%v\n" $k -}}
  {{- else -}}
    {{- printfStderr "  -%v=%q\n" $k $v -}}
  {{- end -}}
  {{- end -}}
{{- end -}}
