{{- define "help" -}}
  {{- printfStderr "\n" -}}
  {{- printfStderr "Available template options:\n" -}}
  {{- range $k, $v := . -}}
  {{- printfStderr "  -%v=%q\n" $k $v -}}
  {{- end -}}
{{- end -}}
