{{- define "struct" -}}

{{- $name := .Name -}}
{{- $fields := .Fields -}}
{{- $typeMap := .TypeMap -}}
{{- $typePrefix := .TypePrefix -}}

type {{$name}} struct {
{{- range $_, $field := $fields -}}
	{{template "field" dict "Name" $field.Name "PrintName" true "Type" $field.Type "Optional" $field.Optional "TypeMap" $typeMap "TypePrefix" $typePrefix "TypeMeta" $field.Meta "JsonTags" true "StructTags" true}}
{{end}}
}
{{- end }}
