{{- define "struct" -}}

{{- $name := .Name -}}
{{- $fields := .Fields -}}
{{- $keywordMap := .KeywordMap -}}
{{- $typeMap := .TypeMap -}}
{{- $typePrefix := .TypePrefix -}}
{{- $opts := .Opts -}}

type {{$name}} struct {
{{- range $_, $field := $fields -}}
	{{- if gt (len $field.Comments) 0 -}}
		{{- range $_, $comment := $field.Comments }}
			// {{ replaceAll $comment "\"" "'" }}
		{{- end }}
	{{- end }}
	{{template "field" dict "Name" $field.Name "PrintName" true "Type" $field.Type "Optional" $field.Optional "TypeMap" $typeMap "KeywordMap" $keywordMap "TypePrefix" $typePrefix "TypeMeta" $field.Meta "JsonTags" true "StructTags" true "Omitzero" $opts.fixEmptyArrays }}
{{- end }}
}

{{- if and $opts.fixEmptyArrays $opts.server }}

func (x *{{$name}}) initNilSlices() {
	if x == nil {
		return
	}
{{- range $_, $field := $fields -}}
	{{- $fieldName := $field.Name | firstLetterToUpper -}}
	{{- range $meta := $field.Meta -}}
		{{- if exists $meta "go.field.name" -}}
			{{- $fieldName = get $meta "go.field.name" -}}
		{{- end -}}
	{{- end -}}
	{{- template "initNilSlices" dict "Expr" (printf "x.%s" $fieldName) "Type" $field.Type "Optional" $field.Optional "TypeMap" $typeMap "KeywordMap" $keywordMap "TypePrefix" $typePrefix "TypeMeta" $field.Meta "Indent" "\t" }}
{{- end }}
}
{{- end }}
{{- end }}
