{{- define "type" -}}

{{- $type := .Type -}}
{{- $optional := .Optional -}}
{{- $typeMap := .TypeMap -}}

{{- if isMapType $type -}}

    map[{{mapKeyType $type}}]{{template "type" dict "Type" (mapValueType $type) "TypeMap" $typeMap}}

{{- else if isListType $type -}}

    []{{template "type" dict "Type" (listElemType $type) "TypeMap" $typeMap}}

{{- else if isCoreType $type -}}

    {{if $optional}}*{{end}}{{ get $typeMap $type }}

{{- else -}}

    *{{$type}}

{{- end -}}
{{- end -}}