{{- define "type" -}}

{{- $type := .Type -}}
{{- $typePrefix := .TypePrefix -}}
{{- $customType := (coalesce .CustomType "") -}}
{{- $typeMap := .TypeMap -}}
{{- $optional := .Optional -}}

{{- if (ne $customType "") -}}

    {{$customType}}

{{- else if isMapType $type -}}

    map[{{mapKeyType $type}}]{{template "type" dict "Type" (mapValueType $type) "TypeMap" $typeMap "TypePrefix" $typePrefix}}

{{- else if isListType $type -}}

    []{{template "type" dict "Type" (listElemType $type) "CustomType" $customType "TypeMap" $typeMap "TypePrefix" $typePrefix}}

{{- else if isCoreType $type -}}

    {{if $optional}}*{{end}}{{ get $typeMap $type }}

{{- else -}}{{- /* structs */ -}}

    *{{$typePrefix}}{{$type}}

{{- end -}}
{{- end -}}