{{- define "var" -}}
{{- if or 
    (eq . "type")
    (eq . "case")
    (eq . "chan")
    (eq . "const")
    (eq . "continue")
    (eq . "default")
    (eq . "defer")
    (eq . "else")
    (eq . "fallthrough")
    (eq . "for")
    (eq . "func")
    (eq . "go")
    (eq . "goto")
    (eq . "if")
    (eq . "import")
    (eq . "interface")
    (eq . "map")
    (eq . "package")
    (eq . "range")
    (eq . "return")
    (eq . "select")
    (eq . "struct")
    (eq . "switch")
    (eq . "type")
    (eq . "var") 
-}}
_{{- end -}}
{{- . -}}
{{- end -}}