{{define "webrpcMethods"}}
{{- $services := .Services -}}
{{- $basepath := .BasePath -}}

type Method interface {
	Name() string
	Service() string
	Annotations() map[string]string
}

type method struct {
	name string
	service string
	annotations map[string]string
}

func (m *method) Name() string { return m.name }
func (m *method) Service() string { return m.service }
func (m *method) Annotations() map[string]string { return m.annotations }

var methods = map[string]Method{
	{{- range $_, $service := $services -}}
	{{- range $_, $method := $service.Methods }}
	"{{$basepath}}{{$service.Name}}/{{$method.Name}}": &method{
		name: "{{$method.Name}}",
		service: "{{$service.Name}}",
		annotations: map[string]string{ {{- range $_, $annotation := $method.Annotations -}}"{{$annotation.AnnotationType}}": "{{$annotation.Value}}", {{- end -}} },
	},
	{{- end -}}
	{{ end }}
}

func MethodFromRequest(req *http.Request) (Method, bool) {
	m, ok := methods[req.URL.Path]
	if !ok {
		return nil, false
	}
	return m, true
}

func MethodCtx(ctx context.Context) (Method, bool) {
	return MethodFromRequest(RequestFromContext(ctx))
}

func WebrpcMethods() map[string]Method {
	return methods
}

var WebRPCServices = map[string][]string{
{{- range $_, $service := $services}}
	"{{$service.Name}}": {
		{{- range $_, $method := $service.Methods}}
		"{{$method.Name}}",
		{{- end}}
	},
{{- end}}
}
{{end}}