name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      # - name: Install webrpc-gen
      #   run: |
      #     curl -o ./webrpc-gen -fLJO https://github.com/webrpc/webrpc/releases/download/v0.11.0/webrpc-gen.linux-amd64
      #     chmod +x ./webrpc-gen
      #     echo $PWD >> $GITHUB_PATH

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.20"
      - name: Install webrpc-gen (development)
        run: git clone --single-branch https://github.com/webrpc/webrpc.git --branch deprecate_methods_v2 && cd webrpc && make install

      - name: Regenerate examples
        run: cd _examples && make generate
      - name: Git diff of regenerated files
        run: cd _examples && make diff
